        body {
            margin-top: 210px;
            /* margin: 10px; */
            font-family: 'Microsoft YaHei', Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-image: url("./img/background_1.png");
        }

        /* 容器样式 */
        .container {
            max-width: 943px;
            margin: 0 auto;
            padding: 11px;
            background-color: white;
            /* border-radius: 8px; */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        /* 表头样式 */
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #f0f2f5;
        }

        /* .logo-container, .text-container, .title-container {
            margin-right: 20px; 
        } */
        
        .logo-container {
            display: flex;
            /* align-items: left; */
            margin-top: 52px;
            margin-left: 53px;
            margin-right: 0;
            width: 477px;
        }
        
        .logo1 {
            height: 98px;
            width: 200px;
            /* margin-right: 0px; */
        }
        
        .text-container {
            text-align: center;
            margin-top: -82px;
            width: 520px;
            /* margin-left: -29px; */
            /* margin-right: 0px; */
        }
        
        .chinese-text {
            font-size: 27px;
            /* font-weight: bold; */
            color: black;
            width: 253px;
            margin-top: 0px;
            /* font-family: "宋体"; */
            color: #007bff;
            margin-bottom: 5px;
            margin-left: 246px;
        }
        
        .title-dc {
            /* margin-top: 10px; */
            margin-right: 29px;
            /* width: 396px; */
            margin-top: -84px;
            text-align: right;
            font-weight: 450;
            font-size: 29px;
        }

        .title-wj {
            text-align: center;
            margin-top: 22px;
            font-weight: 450;
            font-size: 30px;
        }
        
        .english-text {
            width: 465px;
            font-size: 18px;
            /* font-family: "宋体"; */
            color: #007bff;
            font-style: italic;
            margin-bottom: 25px;
            margin-left: 141px
        }

        .description {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
        }

        .tips {
            /* font-size: 18px; */
            margin-top: 50px;
            font-size: 15px;
            /* font-weight: 430; */

            font-family: "雅黑";
            margin-bottom: 15px;
            margin-left: 98px;
        }

        /* 表单整体样式 */
        .survey-form {
            display: flex;
            flex-direction: column;
        }

        .section {
            margin-bottom: 35px;
        }

        h3 {
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            margin-left: 100px;
            font-family: "黑体";
            /* font-weight: 400; */
            /* border-bottom: 1px solid #eee; */
            color:  rgba(35, 120, 255, 1);
        }

        /* 问题样式 */
        .question {
            margin-bottom: 25px;
            width: 857px;
        }

        .num {
            font-size: 21px;
            font-family: "楷体";
        }

        label {
            font-size: 17px;
            margin-left: 100px;
            /* font-weight: 200; */
            /* font-family: "黑体"; */
            display: block;
            margin-bottom: 8px;
            /* font-weight: bold; */
        }

        .required {
            color: #e60012;
            font-weight: 100;
        }

        /* 输入框样式 */
        input[type="text"],
        input[type="tel"] {
            width: 86%;
            padding: 13px;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 13px;
            margin-left: 117px;
            transition: border-color 0.3s ease;
        }

        input[type="text"]:focus,
        input[type="tel"]:focus {
            border-color: #4a90e2;
            outline: none;
        }

        /* 单选按钮样式 */
        .radio-group {
            margin-left: 18px;
        }
    
        .radio-group label {
            display: block; /* 每个选项独占一行 */
            width: 743px;
            font-size: 16px;
            font-weight: 100;
            margin-bottom: 10px; /* 添加底部间距 */
            padding: 10px; /* 添加内边距 */
            border: 1px solid #eeeded; /* 添加灰色边框 */
            border-radius: 5px; /* 添加圆角边框 */
            cursor: pointer; /* 鼠标悬停时显示为手型 */
            transition: all 0.3s; /* 平滑过渡效果 */
            background-color: #fcfdfe; /* 默认背景颜色 */
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
        }
        
        .radio-group label:hover {
            border-color: #88bcf4; /* 鼠标悬停时的边框颜色 */
            background-color: #e9f2ff; /* 鼠标悬停时的背景颜色 */
            box-shadow: 0 2px 5px rgba(0, 123, 255, 0.1); /* 鼠标悬停时的阴影效果 */
        }
    
        .radio-group input[type="radio"]:checked + label {
            border-color: #007bff; /* 选中时的边框颜色 */
            background-color: #70a4ed; /* 选中时的背景颜色 */
            box-shadow: 0 2px 5px rgba(39, 111, 188, 0.988); 
            /* 选中时的阴影效果 */
        }
    
        .radio-group input[type="radio"] {
            margin-right: 10px; /* 单选按钮与文字的间距 */
            accent-color: #007bff; /* 设置选中时的单选按钮颜色 */
        }

        .radio-group input[type="radio"]:checked + label span {
            color: white;
        }

        input[type="radio"] {
            margin-right: 8px;
        } 

        .question-title {
            position: relative;
            font-weight: normal;
            word-break: break-word;
            position: relative;
            font-weight: normal;
            word-break: break-word;
            margin-left: 120px; 
            font-size: 14px;
            /* font-weight: 500; */
            width: 772px;
            font-size: 14px;
        }
        

        .calculate-button {
            width: 210px;
            height: 42px;
            color: white;
            background-color: #007bff;
            margin-top: 30px;
            text-align: center; 
            margin-left:384px;
            border-radius: 6px;
            border: 1px solid #007bff;
        }

        /* 响应式设计
        @media (max-width: 768px) {
            .container {
                padding: 15px;
            }

            h1 {
                font-size: 20px;
            }

            /* h2 {
                font-size: 18px;
            } */

            /* h3 {
                font-size: 16px;
            }

            .question {
                margin-bottom: 20px;
            }
        } */

        /* @media (max-width: 480px) {
            .logo {
                height: 40px;
            }

            h1 {
                font-size: 18px;
            } */

            /* h2 {
                font-size: 16px;
            } */

            /* h3 {
                font-size: 15px;
            }

            .radio-group {
                margin-left: 15px;
            } */
        
